/* estilo de la barra de navegacion */
.nav-color{
background-color: white;
box-shadow: 1px 1px 1px 1px #ccc;
}
.color_dropdown {
    background-color: rgb(42, 77, 122);
    border-radius: 5px;
}
.color_dropdown:hover {
    background-color:   rgb(9, 50, 104);
}
/* estilos sesion de inicio */
.sesion inicio{
    background-color: #ccc;
    width: 100%;
    height: 400px;
}
